<!DOCTYPE html>
{% extends "port/header.html" %}
{% load staticfiles %}
<html lang="en" dir="ltr">
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Shirts</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>
  <body>
    <div class="container">
      <h1>Shirts Page</h1>
        {% if products %}
        {% for product in products %}
        {% if product.status == "sh" %}
        <div class="product">
          <h2>{{product.product}}</h2>
          <a href="/{{product.product}}"><img src="/{{product.image}}" alt=""></a>
          <h2>{{product.status}}</h2>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <h1>NOPE</h1>
      {% endif %}
    </div>
    {% endblock %}
  </body>
</html>
